.wizard section[role="region"] > header:first-child a,
.wizard section[role="region"] > header:first-child button {
    display: none;
}

.wizard .illustrated-description {
    display: block;
}
.wizard .bottom-description {
    display: none;
}

.topic-details {
    left: 0;
    right: 0;
}
.topic-details .main-image {
    height: 330px;
    margin-top: -6rem;
    position: relative;
}
.topic-top div.description {
    padding: 2rem 3rem;
    position: absolute;
    z-index: 10;
}

.wizard .card-content.find-my-fox .setting.remotewipe {
    display: none;
}
